@model TravelBlog.Models.Location

@{ 
    ViewData["Title"] = "Travel Blog | Delete "+Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@using(Html.BeginForm())
{
    @Html.HiddenFor(model => model.LocationId)
    <input type="submit" value="Delete"/>
}