@{ 
    ViewData["Title"] = "Travel Blog | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TravelBlog.Models.Location

<h3>@Html.DisplayFor(model => model.Name)</h3>
<ul>
    @foreach (var listItem in Model.Experiences)
    {
        <li>@Html.ActionLink(listItem.Description, "Details", "Experiences", new { id = listItem.ExperienceId})</li>
        
    } 
</ul>

@Html.ActionLink("Edit", "Edit", new {id = Model.LocationId})
