@{ 
    ViewData["Title"] = "Travel Blog | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TravelBlog.Models.Location

<ul>
    @foreach (var listItem in Model.Experiences)
    {
        <li>@Html.ActionLink(listItem.Description, "Details", "Experiences", new { id = listItem.ExperienceId})</li>
        
    } 
</ul>
