@{ 
    ViewData["Title"] = "Travel Blog | Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TravelBlog.Models.Experience


<p>@Html.DisplayFor(exp => exp.Description)</p>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ExperienceId })</p>

@foreach (var personExperience in Model.People)
{
    <p>@Html.DisplayFor(name => personExperience.Person.Name)</p>
}